@font-face {
  font-family: Inter;
  src: url('../../public/fonts/Inter_18pt-Medium.woff2');
  font-weight: 500;
}
@font-face {
  font-family: Inter;
  src: url('../../public/fonts/Inter_18pt-Bold.woff2');
  font-weight: 700;
}

@font-face {
  font-family: Inter;
  src: url('../../public/fonts/Inter_18pt-ExtraBold.woff2');
  font-weight: 800;
}
